.button {
  padding: 1rem 2rem;
}

.primary {
  color: blue;
  border: blue;

  &:hover {
    background-color: lightblue;
  }
}

.neutral {
  color: grey;
  border: grey;
  &:hover {
    background-color: lightgrey;
  }
}

.small {
  font-size: 14;
}

.medium {
  font-size: 16;
}

.large {
  font-size: 18;
}
